{% extends 'base.html' %}


{% block content %}


<!-- page image -->
<header id="page-header">
    <div class="col-md-6 m-auto text-center text-light">
        <h1>About Us</h1>
        <p class="lead">Every Blood Donor Is A Life Sarver</p>
    </div>
</header>

<!--about-->
<div class="about text-center">
    <p class="font-weight-bold">Nature of the Organization: It is totally non-political, non-communal, non-regional, non-racial, secular and voluntary social organization. 
		Goals and objectives: Initiating social movement to build up a healthy society through motivating voluntary blood donation, donating blood voluntarily and others services and awareness programs. Programs:
		Motivating Students and Young generation of <u>INDIA</u> to donate blood voluntarily. Free blood group test. Donating blood voluntarily for patients. Motivating people for voluntary blood donation and taking part in service and awareness program.
		Taking relief and rehabilitation programs to overcome natural and human created calamities.</p>
</div>



{% endblock  %}